<h1>Rails Cache Test</h1>
<br>
<h2>cache sample</h3>
<%= link_to 'キャッシュなし', book_index_no_cache_path, target: '_blank' %><br>
<%= link_to 'キャッシュあり', book_index_cache_path, target: '_blank' %><br>
<%= link_to 'SQLキャッシュ確認', book_index_query_cache_path, target: '_blank' %><br>
<br><br>
